#my-name {
   color: red;
}

li {
   color:blue;
}

ul.about-me li {
color: green;
}

.location { 
   color:purple;
}

#where-i-want-to-live .location {
   color:yellow;
}
.number-of-students{
   font-weight:bold;
   font-style:italic;
}
