#my-name {
   color: red;
}

#my-age {
   display: none;
}

li {
   color:blue;
}

ul.about-me li {
color: green;
}

.location { 
   color:purple;
}

#where-i-want-to-live .location {
   color:yellow;
}
.number-of-students{
   font-weight:bold;
   font-style:italic;
}


.number-of-girls {
   color: pink;
}

.number-of-boys {
   color: lightblue;
}
ul.list-of-students li{
   color:brown;
}
 section{
    background-color:maroon;
 }

section:first-child{
   background-color: blue;
}
